body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
}
.superContainer {
  position: relative;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.blueImg {
  position: relative;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

.content-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

h3 {
  text-align: center;
  font-size: 350%;
  margin-top: 0px;
  color: white;
}
.input-group {
  width: 100%;
  max-width: 500px;
  margin: 20px 180px 0 0;
}

.form-control {
  border-radius: 10px 0 0 10px;
  padding: 3%;
}

.btn {
  background-color: hsl(0, 0%, 17%);
}
.btn:hover {
  background-color: hsl(0, 0%, 59%);
}
.container1 {
  height: 150px;
  width: 1000px;
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 900;
  margin-left: 15%;
  margin-top: -50px;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: rgba(49, 49, 49, 0.06) 0px 10px;
  overflow: hidden;
}

.container1 > div {
  flex: 1;
  padding: 50px;
  border-right: 1px solid #ccc;
}

.container1 > div:last-child {
  border-right: none;
}
.i {
  color: grey;
  font-family: "Rubik", sans-serif;
}
#map {
  height: 420px;
}

@media (max-width: 1020px) {
  .container1 {
    flex-direction: column;
  }
  .container1 > div {
    flex: 1;
    padding: 50px;
    border-right: none;
    border-bottom: 1px solid #ccc;
  }

  .container1 > div:last-child {
    border-bottom: none;
  }
}
@media (max-width: 80em) {
  h3 {
    font-size: 2.5rem; /* Adjust font size for smaller screens */
  }
  .blueImg {
    background-image: url("images/pattern-bg-mobile.png");
  }
}

@media (max-width: 40em) {
  h3 {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
  }
  .blueImg {
    background-image: url("images/pattern-bg-mobile.png");
  }
}
